<mat-card>
    <p>Status wniosku: {{ odwolanie.applicationStatus }}</p>
    <p>Odwołanie nr: {{ odwolanie.applicationId }}</p>
    <p>Data złożenia: {{showDate(odwolanie.applicationDateRequested)}}</p>
    <p>Składający: {{odwolanie.userName}}</p>
    <p>kwota wnioskowana: {{odwolanie.amountRequested }}</p>
    <p>kwota przyznana: {{odwolanie.amountGranted }}</p>
    <div align="end" class="document">
        <div class="guziki">
            <span *ngIf="odwolanie.decisionId">
                <button class="decButton" color="basic" (click)="loadPdf(odwolanie.decisionId)"
                    [disabled]="loadingDocuments"></button>
                <span class="smallDesc">Pokaż odwołanie</span>
            </span>
            <span *ngIf="odwolanie.contractId">
                <button class="agrButton" color="basic" (click)="loadPdf(odwolanie.contractId)"
                    [disabled]="loadingDocuments"></button>
                <span class="smallDesc">Pokaż decyzję</span>
            </span>
        </div>
        <div class="clear"></div>
    </div>
</mat-card>