.mat-dialog-header {
    font-size: 2em;


}

.title {
    font-size: 1.5em;
    text-align: center;
    
}

.errorButton {
    background-color: #CE2421;
    border: none;
    border-radius: 0.5em;
    color:#fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    
}

.errorButton:focus {
    outline: 0;
}
.errorButton:checked {
    border: none;
}

.errorButton:hover {
    background-color: #a7d9e0;
    color: #999;
} 

.mat-dialog-actions {
    justify-content: flex-end;
}