<div *ngIf="redirectingToApplication" class="overlay"></div>
<mat-divider></mat-divider>

<div class="row">
    <div class="column">
        <span *ngIf="wnioski$ | async" class="title">Twoje wnioski o subwencje PFR </span>
    </div>
    <div class="column right" *ngIf="!loading">
        <span class="addButton">
            <span class="description">Złóż wniosek</span>
            <span>
                <button class="aButton" color="accent" [disabled]="zablokowanyPrzyciskNowyWniosek"
                    (click)="nowyWniosek()">
                </button>
            </span>
        </span>
    </div>
</div>
<mat-divider></mat-divider>
<div *ngIf="!loading">
    <mat-card *ngIf="!(wnioski$ | async)">
        <mat-card-header>
            <div class="emptyApplication">Nie masz żadnych aktywnych wniosków. Dodaj pierwszy wniosek.</div>
        </mat-card-header>
    </mat-card>
</div>

<div *ngIf="loading">
    <p style="text-align: center;">Szukam Twoich wcześniejszych wniosków ...</p>
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
</div>

<div *ngIf="!loading">
    <app-wniosek [even]="even" [wniosek]="wniosek" *ngFor="let wniosek of wnioski$ | async; let even = even;"></app-wniosek>
</div>