.shield {
  transform: rotate(-90);
  color: white;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 104px;
}

.mat-toolbar-row,
.mat-toolbar-single-row .logo .appname {
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  margin-top: -1em;
}

.spacer {
  flex: 1 1 auto;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;
}

.right {
  text-align: right;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.hidden {
  display: none;
}
.session {
  width: 75%;
  font-size: 0.6em;
  line-height: 100%;
  height: auto;
  padding: 0;
  text-align: right;
}

.logout {
  position: absolute;
  top: 0.5em;
  right: 1em;
  background: transparent url('../assets/ico/logout.png') right no-repeat;
  text-align: left;
  line-height: 24px;
  height: 24px;
  padding-right: 30px;
  text-transform: uppercase;
}

.logout::after {
  clear: both;
  content: '';
}

.warning {
  background: transparent url('../assets/ico/clock.png') left no-repeat;
  margin-right: 50%;
  padding-left: 50px;
  line-height: 50px;
  font-size: 15px;
  height: 50px;
}

.warning::after {
  clear: both;
  content: '';
}
.user {
  position: absolute;
  top: 3em;
  right: 1em;
  text-align: right;
  line-height: 1.3em;
  font-size: 1.2em;
}

@media (max-width: 1024px) {
  .warning {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .logo {
    margin-top: -3em;
  }
  .warning {
    position: absolute;
    background: transparent url('../assets/ico/clock.png') top center no-repeat;
    line-height: 20px;
    height: 120px;
    padding-top: 50px;
    padding-left: 0;
    left: 0;
    text-align: center;
    top: 80px;
    width: 100%;
    font-size: 0.8em;
    overflow-wrap: break-word;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 154px;
  }
}
