<mat-toolbar color="primary">
     <span class="logo">
      <img src="../assets/logo30lat2a.png"  />
      <div class="appname">TARCZA <span style="font-style: italic;">PFR</span></div>
     </span>
     <span class="spacer"></span>
     
     <div class="session">
      
       Paweł Rzewuski  
    
   
     <br />
     Sesja : 4:58
    </div>
    <mat-icon>power_settings_new</mat-icon> 
      </mat-toolbar>

<router-outlet></router-outlet>
<mat-toolbar color="footer" class="footer">
  Infolinia 801 100 500 lub 52 34 99 499
  <span class="spacer"></span>
  Bank Pocztowy S.A. Tarcza PFR ver. 1.0.0.0</mat-toolbar>