<mat-toolbar color="primary">
  <span class="logo">
    <img src="../assets/logo30lat2a.png" />
    <div class="appname">TARCZA <span style="font-style: italic;">PFR</span></div>
  </span>
  <span class="spacer"></span>

  <div class="session" *ngIf="(loggedIn$ | async) as loggedIn">
    {{ loggedIn.userName }}
    <br />

  </div>
  <mat-icon *ngIf="loggedIn$ | async" (click)="logout()" style="cursor: pointer">power_settings_new</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
  <div class="row">
    <div class="column"> Infolinia 801 100 500 lub 52 34 99 499</div>
    <div class="column right">Bank Pocztowy S.A. Tarcza PFR v1.6.1</div>
  </div>

</div>