


<mat-divider></mat-divider>

<div class="row">
    <div class="column">
        <span *ngIf="wnioski$ | async" class="title" >Twoje wnioski </span>
    </div>
    <div class="column right">
        <span class="addButton"><span class="description">Dodaj wniosek</span><button mat-fab color="accent"><mat-icon>add</mat-icon></button></span>

    </div>
  </div>

  <mat-divider *ngIf="wnioski$ | async"></mat-divider>
<mat-card *ngIf="!(wnioski$ | async)">
    <mat-card-header><div class="emptyApplication">Dodaj nowy wniosek.</div></mat-card-header>
    
</mat-card>

<mat-card *ngFor="let wniosek of wnioski$ | async">

        <mat-card-header>
            
            <div class="companyName">{{wniosek.companyName}} <br /> <span class="author">{{wniosek.userName}}
                  <br />Decyzja: {{wniosek.decisionId}}  

            </span>

            </div>
            <div class="author"></div>
            
            
        
            <span class="spacer"></span>
            <div style="text-align: right;">
            Wniosek nr: {{ wniosek.applicationId }}<br />
            <span class="applicationData">Data złożenia: {{wniosek.applicationDateRequested}} <br />
                Status wniosku: <span [class]="statusColor(wniosek.applicationStatus)">{{wniosek.applicationStatus}}</span>
                
            </span>
        </div>
        </mat-card-header>
        <mat-card-content>
            <div class="amount" layout="column">
               
           
            <table>
                <tr><td>Wnioskowana kwota</td><td>{{wniosek.amountRequested}}</td></tr>
                <tr *ngIf="wniosek.amountGranted"><td>Kwota przyznana</td><td>{{wniosek.amountGranted}}</td></tr>
             
            </table>
        </div>
            <div align="end" class="document">
                  <span style="margin-right: 10px;">Pobierz dokumenty</span> <button mat-mini-fab color="basic"><mat-icon color="accent">get_app</mat-icon></button> 
                  <span [hidden]="showAppeal(wniosek.applicationStatus,wniosek.amountRequested, wniosek.amountGranted)">
                  <span style="margin-right: 10px;margin-left:15px">Złożenie odwołania </span><button mat-mini-fab color="basic"><mat-icon color="warn">redo</mat-icon></button>
                </span>
            </div>
            
        </mat-card-content>
    </mat-card>
