mat-card {
    margin: 10px;
}

mat-card-content {
    margin-top: 2rem;
}

button:hover {
    color: #d7f8c2;
}


.title {
    margin: 1em 0.5em 0.5em 1em;
    font-size: 1.5em;
    text-align: left;

}

.addButton {
    margin-right: 0.5em;
    padding: 1em;
   
}
.addButton .description{
    margin-right: 0.5em;

   
}

.companyName {
    font-weight: bold;
    text-align: left;
  }
  .author {
      font-weight: 200;
      font-size: 0.8em;
  }


  .applicationData {
    font-weight: 200;
    font-size: 0.8em;
    text-align: right;
  }

  .spacer {
    flex: 1 1 auto;
  }  

  .amount {
    
      font-size: 1.2em;
      margin-left:1.5em;
 
      padding-bottom: 1em;

  }

  .document {
      
      float: right;
      margin-top: -3.35em;
  


  }
 .document::after {
     content: "";
     clear: both;
 }
  a .download {
      color: none;
  }

  @media (max-width: 768px) {
        .document {
            float: none;
            margin: 1rem;
        }

}

  