<mat-divider></mat-divider>

<div class="row">
    <div class="column">
        <span *ngIf="wnioski$ | async" class="title">Twoje wnioski o subwencje PFR </span>
    </div>
    <div class="column right">
        <span class="addButton"><span class="description">Dodaj wniosek</span>
            <button mat-fab color="accent" [disabled]="zablokowanyPrzyciskNowyWniosek" (click)="nowyWniosek()">
                <mat-icon>add</mat-icon>
            </button></span>

    </div>
</div>
<mat-divider></mat-divider>
<div *ngIf="!loading">
    <mat-card *ngIf="!(wnioski$ | async)">
        <mat-card-header>
            <div class="emptyApplication">Nie masz żadnych aktywnych wniosków. Dodaj pierwszy wniosek.</div>
        </mat-card-header>
    </mat-card>
</div>

<div *ngIf="loading">
    <p style="text-align: center;">Szukam Twoich wcześniejszych wniosków ...</p>
    <mat-spinner style="margin: 0 auto;"></mat-spinner>

</div>
<div *ngIf="!loading">
    <mat-card *ngFor="let wniosek of wnioski$ | async">

        <mat-card-header>

            <div class="companyName">
                {{wniosek.companyName}}
                <br />
                <span style="font-weight: 100;font-size: 0.8em;;">NIP: {{wniosek.nrNip}}</span>
                <br />
                <span style="font-weight: 100">Status wniosku: </span>
                <span
                    [class]="statusColor(applicationStatus(wniosek.applicationStatus))">{{applicationStatus(wniosek.applicationStatus)}}</span>

            </div>

            <span class="spacer"></span>
            <div style="text-align: right;">
                Wniosek nr: {{ wniosek.applicationId }}<br />
                <span class="applicationData">Data złożenia: {{wniosek.applicationDateRequested | date:'dd-MM-y'}}
                    <br />
                    <span class="author">{{wniosek.userName}}</span>
                </span>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="amount" layout="column">


                <table>
                    <tr>
                        <td>Wnioskowana kwota</td>
                        <td class="amountInfo">{{showAmount(wniosek.amountRequested)}}</td>
                    </tr>
                    <tr *ngIf="wniosek.amountGranted">
                        <td>Kwota przyznana</td>
                        <td class="amountInfo"><span
                                [class]="checkAmount(wniosek.amountRequested,wniosek.amountGranted)">{{showAmount(wniosek.amountGranted)}}</span>
                        </td>
                    </tr>

                </table>
            </div>
            <div align="end" class="document">
                <span *ngIf="showDocument(wniosek.contractId)">
                    <span style="margin-right: 10px;">Pokaż umowę</span> <button mat-mini-fab color="basic"
                        (click)="loadPdf(wniosek.contractId)" [disabled]="loadingDocuments">
                        <mat-icon color="accent">get_app</mat-icon>
                    </button>
                </span>
                <span *ngIf="showDecision(wniosek.decisionId)">
                    <span style="margin-right: 10px;margin-left:15px">Pokaż decyzję</span><button mat-mini-fab
                        color="basic" (click)="loadPdf(wniosek.decisionId)" [disabled]="loadingDocuments">
                        <mat-icon color="accent">file_copy</mat-icon>
                    </button>
                </span>
                <span *ngIf="showAppeal(wniosek.applicationStatus)">
                    <span style="margin-right: 10px;margin-left:15px">Złóż odwołanie </span><button mat-mini-fab
                        [disabled]="loadingDocuments" color="basic">
                        <mat-icon color="warn">redo</mat-icon>
                    </button>
                </span>

            </div>

        </mat-card-content>
    </mat-card>
</div>