mat-card {
    margin: 10px;
}

mat-card-content {
    margin-top: 2rem;
}

button:hover {
    background-color: #A7D9E0;
}

.row {
    padding: 1em;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
    line-height:100px;
    height: 100px;
  
    
    
  }
  
  .right {
      text-align: right;
     
   }
      
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.title {
    margin: 1em 0.5em 0.5em 1em;
    font-size: 1.5em;
    text-align: left;

}

.emptyApplication {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.addButton {
    margin-right: 0em;
  
   
}
.addButton .description{
    margin-right: 0.5em;

   
}

.companyName {
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;;
  }
  .author {
      font-weight: 200;
      font-size: 0.8em;
  }


  .applicationData {
    font-weight: 200;
    font-size: 0.8em;
    text-align: right;
  }

  .spacer {
    flex: 1 1 auto;
  }  

  .amount {
    
      font-size: 1.2em;
      margin-left:1.5em;
 
      padding-bottom: 1em;

  }

  .document {
      
      float: right;
      margin-top: -3.35em;
      font-size: 0.8em;
  


  }
 .document::after {
     content: "";
     clear: both;
 }
  a .download {
      color: none;
  }


  .green {
      color: green;
  }

  .red {
      color: red;
  }

  .orange {
      color: orange;
  }
  

  @media (max-width: 768px) {
        .document {
            float: none;
            margin: 1rem;
        }

}

  