
<mat-card [class]="even == true ? 'pink' : 'blue'">
    <mat-card-header>
        <div class="companyName">
            {{wniosek.companyName}}
            <br />
            <span style="font-weight: 100;font-size: 0.8em;;">NIP: {{wniosek.nrNip}}</span>
            <br />
            <span style="font-weight: 100">Status wniosku: </span>
            <span
                [class]="statusColor(applicationStatus(wniosek.applicationStatus))">{{applicationStatus(wniosek.applicationStatus)}}</span>

        </div>
        <span class="spacer"></span>
        <div style="text-align: right;">
            Wniosek nr: {{ wniosek.applicationId }}<br />
            <span class="applicationData">Data złożenia: {{showData(wniosek.applicationDateRequested)}}
                <br />
                <span class="author">{{wniosek.userName}}</span>
            </span>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="amount" layout="column">
            <table>
                <tr>
                    <td>Wnioskowana kwota</td>
                    <td class="amountInfo">{{showAmount(wniosek.amountRequested)}}</td>
                </tr>
                <tr *ngIf="wniosek.amountGranted">
                    <td>Kwota przyznana</td>
                    <td class="amountInfo"><span
                            [class]="checkAmount(wniosek.amountRequested,wniosek.amountGranted)">{{showAmount(wniosek.amountGranted)}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div align="end" class="document">
            <div class="guziki">
                <span *ngIf="wniosek.isClaimAllowed">
                    <button class="reapply" [disabled]="loadingDocuments" color="basic"></button>
                    <span class="smallDesc">Złóż odwołanie </span>
                </span>
                <span *ngIf="showDecision(wniosek.decisionId)">
                    <button class="decButton" color="basic" (click)="loadPdf(wniosek.decisionId)"
                        [disabled]="loadingDocuments"></button>
                    <span class="smallDesc">Pokaż decyzję</span>
                </span>
                <span *ngIf="showDocument(wniosek.contractId)">
                    <button class="agrButton" color="basic" (click)="loadPdf(wniosek.contractId)"
                        [disabled]="loadingDocuments"></button>
                    <span class="smallDesc">Pokaż umowę</span>
                </span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="wniosek.odwolania.length > 0" [class]="even == true ? 'pink2' : 'blue2'">
        <app-odwolania [odwolania]="wniosek.odwolania"></app-odwolania>
    </mat-card-footer>
</mat-card>
