<mat-card class="blue">
    <mat-card-header>
        <div class="companyName">
            {{wniosek.companyName}}
            <br />
            <span style="font-weight: 100;font-size: 0.8em;;">NIP: {{ wniosek.nrNip }}</span>
            <br />
            <span style="font-weight: 100">Status wniosku: </span>
            <span [class]="wniosek.applicationStatus | statusColor">{{ wniosek.applicationStatus | status }}</span>
        </div>
        <span class="spacer"></span>
        <div style="text-align: right;">
            Wniosek nr: {{ wniosek.applicationId }}<br />
            <span class="author">{{wniosek.userName}}</span><br />
            <span class="applicationData">Data złożenia wniosku:
                {{ wniosek.applicationDateRequested | date }}</span><br />
            <span *ngIf=(wniosek.applicationDateDecision) class="applicationData">Data wydania decyzji:
                {{ wniosek.applicationDateDecision | date}}</span>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="amount" layout="column">
            <table>
                <tr>
                    <td>Wnioskowana kwota</td>
                    <td class="amountInfo">{{ wniosek.amountRequested | amount }}</td>
                </tr>
                <tr *ngIf="wniosek.amountGranted">
                    <td>Kwota przyznana</td>
                    <td class="amountInfo"><span
                            [class]="wniosek.amountGranted | amountColor: wniosek.amountRequested">{{ wniosek.amountGranted | amount }}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div align="end" class="document">

            <div class="guziki">
                <div class="guzik">
                    <span *ngIf="wniosek.isClaimAllowed">
                        <button class="reapply" (click)="noweOdwolanie()" color="basic"></button>
                        <span class="smallDesc">Złóż odwołanie</span>
                    </span>
                </div>
                <div class="guzik">
                    <span *ngIf="wniosek.decisionId">
                        <button class="decButton" color="basic" (click)="loadPdf(wniosek.decisionId)"
                            [disabled]="loadingDocuments"></button>
                        <span class="smallDesc">Pokaż decyzję</span>
                    </span>
                </div>
                <div class="guzik">
                    <span *ngIf="wniosek.contractId">
                        <button class="agrButton" color="basic" (click)="loadPdf(wniosek.contractId)"
                            [disabled]="loadingDocuments"></button>
                        <span class="smallDesc">Pokaż umowę</span>
                    </span>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="wniosek.odwolania.length > 0">
        <app-odwolania [odwolania]="wniosek.odwolania"></app-odwolania>
    </mat-card-footer>
</mat-card>