<mat-card>
    <mat-card-header>
        <div class="">
            Odwołanie do wniosku: {{ odwolanie.parentApplicationId }}
            <br />
            <span style="font-weight: 100">Status odwołania: </span>
            <span
                [class]="statusColor(applicationStatus(odwolanie.applicationStatus))">{{applicationStatus(odwolanie.applicationStatus)}}</span>

        </div>
        <span class="spacer"></span>
        <div style="text-align: right;">
            Odwołanie nr: {{ odwolanie.applicationId }}<br />
            <span class="author">{{odwolanie.userName}}</span><br />
            <span class="applicationData">Data złożenia odwołania:
                {{ odwolanie.applicationDateRequested | date }}</span> <br />
            <span *ngIf=(odwolanie.applicationDateDecision) class="applicationData">Data wydania decyzji:
                {{ odwolanie.applicationDateDecision | date }}</span>

        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="amount" layout="column">
            <table>
                <tr>
                    <td>Wnioskowana kwota</td>
                    <td class="amountInfo">{{ odwolanie.amountRequested | amount }}</td>
                </tr>
                <tr *ngIf="odwolanie.amountGranted">
                    <td>Kwota przyznana</td>
                    <td class="amountInfo"><span
                            [class]="checkAmount(odwolanie.amountRequested,odwolanie.amountGranted)">{{ odwolanie.amountGranted | amount }}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div align="end" class="document">
            <div class="guziki">
                <div class="guzik">
                    <span *ngIf="showDecision(odwolanie.decisionId)">
                        <button class="decButton" color="basic" (click)="loadPdf(odwolanie.decisionId)"
                            [disabled]="loadingDocuments"></button>
                        <span class="smallDesc">Pokaż decyzję</span>
                    </span>
                </div>
                <div class="guzik">
                    <span *ngIf="showDocument(odwolanie.contractId)">
                        <button class="agrButton" color="basic" (click)="loadPdf(odwolanie.contractId)"
                            [disabled]="loadingDocuments"></button>
                        <span class="smallDesc">Pokaż umowę</span>
                    </span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>